services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - DEBUG=1
      - DJANGO_ENV=development
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:cached
    networks:
      - survivor_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - survivor_network

networks:
  survivor_network:
    driver: bridge
