services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend/.env
    environment:
      - DEBUG=1
      - DJANGO_ENV=development
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app:cached
    networks:
      - survivor_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz/"]
      interval: 60s
      timeout: 10s
      retries: 4
      start_period: 120s
      start_interval: 10s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - survivor_network

networks:
  survivor_network:
    driver: bridge
