<!DOCTYPE html>
<html>
  <head>
    <title>Survivor API - Swagger UI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui.css" />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui-standalone-preset.js"></script>
    <script>
    window.onload = function() {
      const ui = SwaggerUIBundle({
        url: "{% url 'schema' %}",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "BaseLayout",
        persistAuthorization: true,
        displayOperationId: true,
        tryItOutEnabled: true,
        docExpansion: "none",
        defaultModelRendering: "model",
        requestInterceptor: (request) => {
          const token = localStorage.getItem('token');
          if (token) {
            request.headers.Authorization = `Bearer ${token}`;
          }
          return request;
        }
      });
      window.ui = ui;
    };
    </script>
  </body>
</html>
